body {
    font-family:Verdana, Arial, sans-serif;
    background-color: #EDE9E6;
}
nav {
    text-align: left;
    padding-right: 0px;
    margin: auto;
}
nav ul {
    list-style-type: none;
    list-style-image: none;
}
nav a {
    text-decoration: none;
    font-weight: bold;
    color: #573c22; 
}
header {
    background-color: #d1b38f;
    color: #ffffff;
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
    font-size: 150%;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
    margin: auto;
}
h3{
    font-size: 24px;
    text-align: left;
    margin: 30px;
    color: #573c22; 
}
p {
    color: #000000;
    margin: auto;
    text-align: left;
    margin: 30px;
}
ul {
    list-style-image: url(coffee_icon.png);
    vertical-align: middle;
}
table {
    margin: auto;
    padding-bottom: 30px;
}
th {
    text-align: left;
}
td {
    padding: 20px;
}
tr:nth-child(odd) {
    background-color: #c9af9e;
}
td:first-child {
    font-weight: bold;
}
td:last-child {
    text-align: left;
}
form { 
    background-color:#e7e1c3; font-family: Arial, sans-serif;
    width: 80%;
}
label {
    float: left;
    clear: left;
    display: block;
    width: 100px;
    text-align: right;
    padding-right: 40px;
    margin-left: 40px;
    margin-bottom: 10px;
}
input {
    display: block;
    margin-left: 40px;
    margin-bottom: 10px;
}
textarea {
    display: block;
    width: 400px;
    margin-left: 40px;
}
#submit {
    margin-bottom: 20px;
    margin-right: -30px;
}
footer {
    background-color: #d1b38f;
    width: 100%;
    text-align: center;
    clear: right;
    padding-top: 10px;
    padding-bottom: 10px;
}
#wrapper {
    background-color: #C6A179; 
    color: #171815;
    width: 80%;
    margin: auto;
    min-width: 850px;
}
#leftcolumn {
    float: left;
    width: 150px;
}
#rightcolumn {
    margin-left: 155px;
    background-color: #e7e1c3;
    color: #000000;
    overflow: auto;
}
#floatleft {
    float: left;
    padding-left: 30px;
    padding-bottom: 30px;
    padding-right: 30px;
    margin-right: 30px;
    margin-bottom: 20px;
}
.inline-button {
    display: inline-block;
    margin-left: -40px;
    margin-right: 0px;
    margin-top: 5px;
    margin-bottom: 0px;
}
.inline-text {
    display: inline-block;
    margin-right: -40px;
    margin-top: 5px;
    margin-bottom: 0px;
    text-align: left;
}